<app-nav2></app-nav2>
<section class="team-wrap1" style="background-color: #f5f8fd;">
    <div class="container">
        <div class="item-heading-center mb-20">
            <span class="section-subtitle">Expertise Is Here</span>
            <h2 class="section-title">Our Exclusive Agetns</h2>
            <div class="bg-title-wrap" style="display: block;">
                <span class="background-title solid">Our Agents</span>
            </div>
        </div>
        <div class="row">
            <div  *ngFor="let item of agents" class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-box1 wow fadeInUp" data-wow-delay=".6s">
                    <div class="item-img">
                        <a href="agent-lists1.html">
                            <img [src]="getImagePath(item.attributes.image)" alt="blog" width="510" height="340">
                        </a>
              
                                          </div>
                    <div class="item-content">
                        <div class="item-title">
                            <h3><a href="agent-lists1.html">{{item.attributes.name}}</a></h3>
                            <h4 class="item-subtitle"><a href="agency-lists1.html">{{item.attributes.location}}</a></h4>
                        </div>
                        <div class="item-contact">
                            <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
                            <div class="item-phn-no">Call: {{item.attributes.phonenumber}}</div>
                        </div>
                    </div>
                </div>
            </div>

     
        </div>
    </div>
</section>


<app-footer></app-footer>
